* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
}
.wrap {
  display: block;
    width: 908px;
  height: 443px;
  margin: 0 auto;
    background: black;
    padding: 0;
    overflow: hidden;
}
.pic {
    width: 300px;
    height: 443px;
    display: inline-block;
    background: black;
    color: white;
    font-size: 50px;
    text-align:center;
    padding-top: 50px;
}
/*button {*/
/*    width: 200px;*/
/*    height: 50px;*/
/*    position: absolute;*/
/*}*/
.left {
    left:50px;
    top: 100px;
}
.right {
    top: 100px;
    right: 50px;

}
    
        
    
    
    
    
    
    
    
    
    
    
